@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to My gaming list, here you can see all the types of games which i have played.</p>
    <p>To view the full list of games please click here - <a href="https://localhost:44357/games">Gaming List</a></p>
</div>
