@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All information on this website is for personal use only, Any information is for informative purposes and as an demonstration of games that i have played.</p>
